

body {
    background-image: url(image.jpg);
    background-image: no-repeat;
    margin: 0;
    top: 0;
}

.h1 {
    margin: auto;
    width: 25%;
    background-color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 25pt;
}

.content {
    width: 25%;
    background-color: whitesmoke;
    margin: auto;
}

button {
    width: 100%;
    margin-bottom: 5px;
}

option {
    margin-bottom: 20px;
}